#hero1 {
  /* webpackIgnore: true */
  background: url('./images/hero1.png') center center / cover no-repeat;
  min-height: 100vh;
}

#hero1 .hero-text {
  text-align: left;
  color: white;
}

#hero1 .title {
  font-size: 4.2em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#hero1 .separator {
  width: 100px;
  height: 5px;
  background-color: #B90808;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hero1 .subtitle {
  font-size: 1.2em;
}

#hero1 a {
  text-decoration: none;
  cursor: pointer;
}

#hero1 .cta {
  display: block;
  background-color: #B90808;
  color: white;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: auto;
}

#story {
  background: url('./images/bg.jpg') top left / cover no-repeat;
  color: white;
}

#story h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#story h2 {
  font-size: 1.5em;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#story p {
  font-size: 0.9em;
}

#roadmap {
  background-color: #860707;
  color: white;
}

#roadmap h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#roadmap h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  line-height: 0.6em;
}

#roadmap h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#roadmap p {
  font-size: 0.9em;
}

#faq {
  color: #1A1A1A;
}

#faq h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#faq p {
  font-size: 0.9em;
}

#faq .accordion-item {
  border-color: #1A1A1A;
}

#faq .accordion-header {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#faq .accordion-body {
  text-align: left;
}

#faq .blood-stain {
  position: absolute;
  bottom: -150px;
  right: 2vw;
  z-index: -1;
  max-width: 600px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#team h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#team h2 {
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
  color: #860707;
}

#team h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#team .img-wrap {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#team .profile-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  width: auto;
  height: 100%;
}

#mint-container {
  /* webpackIgnore: true */
  background: url('./images/hero1.png') top right / cover no-repeat;
  min-height: 100vh;
}

#mint-container .frame {
  min-height: 100vh;
  background: url('./images/bg.jpg') top left / cover no-repeat;
  color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#mint-container h1 {
  font-size: 4.2em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#mint-container .mint-button {
  display: block;
  background-color: #B90808;
  color: white;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: auto;
}

#mint-container .tile-wrap {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

#mint-container .tile-wrap .img-fluid {
  border-radius: 10px;
}

#mint-container .spinner-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#mint-container .spinner {
  font-size: 2em;
  animation: spin 1300ms ease-in-out infinite;
}

#mint-container .banner {
  height: 30vh;
  background: url('./images/hero1.png') center center / cover no-repeat fixed;
}

#mint-container .return {
  font-size: 2.5em;
  color: white;
}

#menu a {
  width: auto;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#burger-icon, #close-icon {
  position: fixed;
  top: 15px;
  right: 20px;
  width: auto;
  color: white;
  font-size: 2.5em;
}

#close-icon {
  color: #B90808;
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  overflow: auto;
  color: #1a1a1a;
  background-color: #fafafa;
  transition: left 300ms ease-in-out;
}

#mobile-menu.active {
  left: 0;
}

#mobile-menu a {
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#mobile-menu .button {
  display: block;
  background-color: #B90808;
  color: white;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: auto;
}

#metamask {
  background: url('./images/hero1.png') center center / cover no-repeat;
  min-height: 100vh;
}

#metamask .frame {
  min-height: 100vh;
  background: url('./images/bg.jpg') top left / cover no-repeat;
  color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#metamask .button {
  display: block;
  background-color: #B90808;
  color: white;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: auto;
}

.vertical-center {
  position: relative;
  top: calc(50vh - 60px);
  transform: translateY(-50%);
}

.red-accent {
  color: #B90808;
}

@media (max-width: 768px) {

}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
