#hero1 {
  /* webpackIgnore: true */
  background: url('./images/hero1.png') top left / cover no-repeat;
  min-height: 100vh;
}

#hero1 .hero-text {
  text-align: left;
  color: white;
}

#hero1 .title {
  font-size: 4.2em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#hero1 .separator {
  width: 100px;
  height: 5px;
  background-color: #B90808;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hero1 .subtitle {
  font-size: 1.2em;
}

#hero1 .cta {
  display: block;
  background-color: #B90808;
  color: white;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin: auto;
}

#story {
  background-color: #1A1A1A;
  color: white;
}

#story h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#story h2 {
  font-size: 1.5em;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#story p {
  font-size: 0.9em;
}

#roadmap {
  background-color: #860707;
  color: white;
}

#roadmap h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#roadmap h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  line-height: 0.6em;
}

#roadmap h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#roadmap p {
  font-size: 0.9em;
}

#faq {
  color: #1A1A1A;
}

#faq h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#faq p {
  font-size: 0.9em;
}

#faq .accordion-item {
  border-color: #1A1A1A;
}

#faq .accordion-header {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

#faq .accordion-body {
  text-align: left;
}

#menu a {
  width: auto;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.vertical-center {
  position: relative;
  top: calc(50vh - 60px);
  transform: translateY(-50%);
}

.red-accent {
  color: #B90808;
}
