#hero1 {
  /* webpackIgnore: true */
  background: url('./images/hero1.jpg') top left / cover no-repeat;
  min-height: 100vh;
}

#hero1 .hero-text {
  text-align: center;
  color: white;
}

#hero1 .title {
  font-size: 4em;
  font-weight: bold;
}

#hero1 .separator {
  width: 100px;
  height: 5px;
  background-color: #B90808;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hero1 .subtitle {
  font-size: 1.2em;
}

#menu a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.vertical-center {
  position: relative;
  top: calc(50vh - 60px);
  transform: translateY(-50%);
}

.red-accent {
  color: #B90808;
}
